.shop {
  margin: 60px 0 100px;
}

.shop h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.shop__wrapper:not(.shop__wrapper--slider) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop__wrapper {
  margin-top: 32px;
}

.shop__wrapper--slider .shop__name {
  max-height: 100%;
}

.shop__item {
  padding: 24px;
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
  cursor: pointer;
}

.shop__item:hover {
  border: 1px solid #CFD8DC;
}

.shop__img {
  max-width: 212px;
  max-height: 212px;
}

.shop__name {
  overflow: hidden;
  margin: 16px auto 12px;
  max-width: 212px;
  max-height: 40px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
}

.shop__price {
  font-size: 16px;
  font-weight: 600;
  color: #3C5FAC;
}

.shop__add {
  display: block;
  padding: 9px 32px;
  margin: 16px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Proxima Nova', 'Lora', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #3C5FAC;
  border: 1px solid #CFD8DC;
  border-radius: 94px;
}

.shop__add:focus {
  border: 1px solid #3C5FAC;
  outline: none;
}

.product {
  margin-top: 60px;
  margin-bottom: 100px;
}

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 110px;
}

.product__slider {
  max-width: 560px;
  max-height: 560px;
  width: 100%;
  height: 100%;
}

.product__item {
  cursor: pointer;
}

.product__item:focus {
  outline: none;
}

.product__item img {
  max-width: 560px;
  max-height: 560px;
  width: 100%;
  height: 100%;
}

.product__content h1 {
  font-size: 36px;
  text-align: left;
}

.product__price {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 700;
  color: #3C5FAC;
}

.product__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.product__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  max-width: 130px;
  width: 100%;
  border: 1px solid #CFD8DC;
  border-radius: 110px;
}

.product__number {
  max-width: 50px;
  text-align: center;
  background: transparent;
  border: none;
  -moz-appearance: textfield;
}

.product__number:focus {
  outline: none;
}

.product__number::-webkit-outer-spin-button, .product__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product__minus, .product__plus {
  position: relative;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.product__minus::after, .product__plus::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 2px;
  background: #79909C;
  border-radius: 10px;
}

.product__plus::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  width: 14px;
  height: 2px;
  background: #79909C;
  border-radius: 10px;
}

.product__card {
  display: block;
  padding: 16px 32px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 94px;
}

.tabs {
  margin-top: 48px;
}

.tabs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CFD8DC;
}

.tabs__item {
  padding: 0 0 16px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  cursor: pointer;
}

.tabs__item + .tabs__item {
  margin-left: 23px;
}

.tabs__item--active {
  border-bottom: 3px solid #3C5FAC;
}

.tabs__content {
  display: none;
  margin-top: 24px;
}

.tabs__content--active {
  display: block;
}

.tabs__description {
  font-size: 16px;
}

.tabs__description + .tabs__description {
  margin-top: 20px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
}

.slick-dots li button {
  margin: 0 4px;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 1px solid #CFD8DC;
  border-radius: 50%;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.slick-dots .slick-active button {
  background: #3C5FAC;
  border: 1px solid transparent;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: transparent;
  border: 1px solid #CFD8DC;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}

.slick-arrow:focus {
  outline: none;
}

.slick-arrow:hover {
  -webkit-transform: translateY(-50%) scale(1.1);
      -ms-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

@media (min-width: 1200px) {
  .shop__wrapper:not(.shop__wrapper--slider) .shop__item {
    max-width: 260px;
  }
  .shop__wrapper:not(.shop__wrapper--slider) .shop__item:nth-child(4n), .shop__wrapper:not(.shop__wrapper--slider) .shop__item:nth-child(4n - 1), .shop__wrapper:not(.shop__wrapper--slider) .shop__item:nth-child(4n - 2) {
    margin-left: 40px;
  }
  .shop__wrapper--slider-md .shop__item {
    margin: 0 8px;
    max-width: 242px;
  }
  .shop__wrapper--slider-lg .shop__item {
    margin: 0 15px;
    max-width: 260px;
  }
  .product__content {
    margin-top: 53px;
  }
  .arrow-left {
    left: -21px;
  }
  .arrow-right {
    right: -21px;
  }
}

@media (max-width: 1199px) {
  .arrow-left {
    left: 0;
  }
  .arrow-right {
    right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .shop__wrapper:not(.shop__wrapper--slider) .shop__item {
    max-width: 32%;
  }
  .shop__wrapper:not(.shop__wrapper--slider) .shop__item:nth-child(3n - 1) {
    margin-right: 2%;
    margin-left: 2%;
  }
  .shop__wrapper--slider-md .shop__item {
    max-width: 32%;
  }
}

@media (min-width: 768px) {
  .product__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__slider, .product__content {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .product__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__slider {
    margin: 0 auto;
  }
  .product__content {
    margin-top: 68px;
  }
  .product__content h1 {
    text-align: center;
  }
  .product__price {
    text-align: center;
  }
  .product__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .shop__wrapper:not(.shop__wrapper--slider) .shop__item {
    max-width: 48%;
  }
  .shop__wrapper:not(.shop__wrapper--slider) .shop__item:nth-child(2n) {
    margin-left: 4%;
  }
  .shop__wrapper--slider-md .shop__item {
    max-width: 48%;
  }
  .products__slider .shop__item {
    max-width: 48%;
  }
}

@media (max-width: 575px) {
  .shop__wrapper .shop__item {
    max-width: 100%;
  }
}

@media (max-width: 369px) {
  .product__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product__quantity {
    margin: 0 auto 20px;
  }
}
